.exe~
*.exe~
.exe
*.exe
.build
.idea
*.lock
*.swp
*.eml
*.iml
bin
pkg
#bin
*.log
velocity.log*
*.tmp
.tmp
.idea
.idea/
projectFilesBackup
/projectFilesBackup
.Rproj.user
/.Rproj.user
*.Rproj
.RData
.Rhistory